html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Nanum Myeongjo", serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
  }
  h1 {
    margin-bottom: 10%;
  }
  .underh1 {
    margin-top: 10%;
  }
  
  header {
    width: 100%;
    background-color: yellowgreen;
  }
  .section-item a {
    color: #3f5241;
    text-decoration: none;
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #a36a1f;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
  }
  @media (max-width: 1300px) {
    .nav-link {
      padding: 0 10px;
      line-height: 20px;
    }
  
    /* @media (max-width: 768px) {
    .nav-link .nav-list:after .nav-list:before {
      height: 3px;
      width: 100%;
      position: absolute;
      background: #515758;
      margin: 0 auto;
    }
    .nav-link {
      top: 21px;
    }
  
    .nav-list:after .nav-list:before {
      content: "";
    }
    .nav-list:after .nav-list:before {
      bottom: 5px;
    } */
  
    .nav-list {
      display: block;
    }
  }
  .MainHeader {
    display: flex;
    align-items: stretch;
  }
  
  .myPhoto {
    display: block;
    max-height: 300px;
    border-radius: 25%;
    margin: 1% 0 1% 10%;
  }
  .MainHeader2 {
    margin: auto;
  }
  @media (max-width: 768px) {
    .MainHeader {
      display: block;
    }
    .myPhoto {
      /* max-width: 100px; */
  
      margin: 1% auto 1%;
    }
    .MainHeader2 {
      text-align: center;
    }
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  .TextJustBreefle {
    text-align: justify;
  }
  .section {
    margin: 0 10% 0;
  }
  @media (max-width: 768px) {
    .section {
      width: 80%;
    }
  }
  footer {
    background-color: yellowgreen;
    width: 100%;
  }
  .footlink {
    margin: 10px;
    width: 50px;
    border-radius: 50px;
  }
  hr {
    width: 80%;
    height: 2px;
  }
  